* {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

:root {
  --red: hsl(0, 100%, 74%);
  --reen: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%); 
  --grayish-blue: hsl(246, 25%, 77%);
}

body {
  background: var(--red) url('../public/images/bg-intro-desktop.png') center no-repeat;
  background-size: cover;
}

#main-content {
  display: flex;
  flex-direction: row;
  
  max-width: 1200px;
  margin: 0 auto;
}